*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}
button {
    padding: 60px 100px;
    font-size: 35px;
    color: #000000;
    background-color: #eeeeee;
    cursor: pointer;
    border: 4px rgb(0, 0, 0) solid;
    border-radius: 15px;
}
